.header{
    width: 100%;
    height: 5vw;
    padding: 1vw 3vw;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    /* position: sticky;
    top: 0px; */
}

.logo{
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    gap: 8px;
}
.logo img{
    height: 3vw;
}
.link{
    display: flex;
    align-items: center;
    gap: 1.5vw;
    font-size: 1.2vw;
}
.link p{
    color: gray;
    transition: all linear 0.1s;
}
.link p:hover{
    color: white;
}
.sideMenu{
    width: 20%;
    height: 100vh;
    background-color: #fff;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2vw;
    display: flex;
    flex-direction: column;

    
}
.sideMenu a{
    color: black;
    /* margin-top: 100px; */
}
.sidemenu{
    display: none;
}
.sideContainer {
    width: 100%;
    height: 100%;
    background-color: #111;
    color: #fff;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2vw;
    
}
@media only screen and (max-width: 800px) {
    .link{
        display:none;
    }
    .sidemenu{
        display: block;
    }
}